<!--BeginSectHeaders-->
<script type="text/javascript">
	<!--BeginSectFFObject-->
	ff.struct.set("{objid}", {
		"type"			: "{type}"
		, "resources"	: [<!--BeginSectResource-->{resource}<!--EndSectResource-->]
		, "fields"		: ff.hash()
		, "dialog"		: "{dialog_id}"
		<!--BeginSectProperty-->
		, "{prop_name}"	: {prop_value}
		<!--EndSectProperty-->
	});
	<!--EndSectFFObject-->
	<!--BeginSectField-->
	ff.struct.{getobj}fields.set("{fieldid}", {
		"widget"		: "{widget}"
		, "dialog"		: "{dialog_id}"
		, "resources"	: [<!--BeginSectFieldResource-->{resource}<!--EndSectFieldResource-->]
	});
	<!--EndSectField-->
</script>
<!--BeginSectWidgetsHeaders-->
{WidgetsContent}
<!--EndSectWidgetsHeaders-->
<!--EndSectHeaders-->
{content}
<!--BeginSectFooters-->
<!--BeginSectWidgetsFooters-->
{WidgetsContent}
<!--EndSectWidgetsFooters-->

<script type="text/javascript">
	<!--BeginSectJs-->
	{js_embed}
	<!--EndSectJs-->
</script>
<!--EndSectFooters-->
