<!--BeginSectHeaders-->
<script type="text/javascript">
	ff.pluginLoad("ff.ffPage.activebuttons", "/themes/responsive/ff/ffPage/widgets/activebuttons/activebuttons.js"); 
</script>
<!--EndSectHeaders-->

<!--BeginSectFooters-->
<script type="text/javascript">
	ff.pluginAddInit("ff.ffPage.activebuttons", function() { 
		ff.ffPage.activebuttons.init('{spinner_class}'); 
	});
</script>
<!--EndSectFooters-->

