.hb-inner {
	width:100%;
}

.\.vg-popup-visible { display:block; position:relative; }

.vg-popup {
  position:absolute;
  top:0;
	right:0;
  width:auto;
  white-space:nowrap;
  font-size: 0px;
}

.vg-popup UL { margin:0; }

.dropdown-menu .vg-popup {
	right:auto;
	left:calc(100% + 8px);
}

.vg-popup .admin-link {
  display:inline-block;
}

.dropdown-menu .vg-popup:before {
  content:"";
  display:block;
  border:8px solid #222;
  border-left-color:transparent;
  border-top-color:transparent;
  border-bottom-color:transparent;
  border-top-width:4px;
  border-bottom-width:4px;
  width:0px;
  height:0px;
  position:absolute;
  left:0;
  top:12px;
  transform:translateX(-100%);

}

.admin-link A {
  padding:5px;
  color:#fff;
  width:32px;
  display:block;
  height: 32px;
  overflow:hidden;
  text-align:center;
  background:#222;
  font-size:14px;
}

.vg-popup .fa-stack:first-child {
  position:static !important;
}

.vg-popup .fa-stack:nth-child(2) {
  display:none;
}

.block .vg-toolbar {
	position: absolute;
}
.vg-toolbar {
	width:100%;
	display:block;
	height:30px;
	background-color:#222;
}


.vg-toolbar UL {
	margin:0;
	max-width:calc( (100% - 30px) / 2 );
}

.vg-toolbar A {
	max-width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
}

.vg-toolbar .vg-layout {
	float:left;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden !important;

}

.vg-toolbar .vg-layout-actions  { float:left; text-align:left; }


.vg-toolbar .vg-layout-actions LI { display:block; width:30px; text-align:center; }

.vg-layout-actions .vg-toggle UL {
	overflow:hidden;
	transition:0.3s;
	background:#222;
	position:absolute;
	top:30px;
	left:0;
	min-width:150px;
	max-width:250px;
}

.vg-layout-actions .vg-toggle LI UL { position:static; display:block; }

.vg-layout-actions .vg-toggle>A { text-align:center; }


.vg-layout-actions .vg-toggle LI {
	width:100%;
	height:0;
	transition:height 0.3s;
	overflow:hidden;
}

.vg-layout-actions .vg-toggle LI LI {
	transition-delay:0.6s;
}

.vg-layout-actions .vg-toggle LI:hover{
	height:auto !important;
}


.vg-layout-actions .vg-toggle:hover LI,
.vg-layout-actions .vg-toggle LI:hover LI {
	height:30px;
}


.vg-layout-actions .vg-toggle LI LI {
	background:#000;
}

.vg-layout-actions .vg-toggle LI LI A {
	padding-right:10px;
}

.vg-layout-actions .vg-toggle LI LI A:hover {
	background:#222;
}


.vg-layout-actions .vg-toggle LI A {
	width:100%;
	text-align:left;
	padding:0 0 0 10px;
	height:30px;
}

.vg-layout-actions .vg-toggle LI A:hover {
	background:#555;
}

.vg-layout-actions .vg-toggle LI SPAN {
	margin-left:5px;
	height:30px;
	width:30px;
}

.vg-layout-actions .vg-toggle A I,
.vg-edit-actions A>* {
	width:30px;
	height:30px;
	text-align:center;
	display:block;
	float:left;
	line-height:30px;
}


.vg-toggle:hover UL { height:auto; }

.hb-right-bottom .vg-toolbar .vg-layout { bottom:0; }

.hb-right-bottom { transform:translateY(100%); }

.vg-toolbar A {
	display:inline-block !important;
	color:#fff !important;
	padding:0 !important;
	line-height:30px;
	opacity:0.8;
	transition:opacity 0.3s;
	height: 23px;
	white-space: nowrap;
}

.vg-toolbar A I {
	display:block;
	float:left;
}

 .vg-toolbar A:hover { color:#fff !important; opacity:1; }

.vg-layout-actions A {
	width:32px;
	text-align:center;
}

.vg-layout-title { height:30px; line-height:2; }

.vg-toolbar .vg-layout-title I {font-size:16px !important; padding:0 5px 0 10px; line-height:30px;}

.vg-toolbar UL {
	font-size:12px !important;
	font-family:Verdana, Arial, sans-serif !important;
}


.vg-edit-actions { float:right; white-space:nowrap; }
.vg-edit-actions LI { display:inline-block; max-width:100%}

.vg-edit-actions LI:nth-child(1):nth-last-child(2),
.vg-edit-actions LI:nth-child(2):nth-last-child(1) { max-width:50% }

.vg-edit-actions LI:nth-child(1):nth-last-child(3),
.vg-edit-actions LI:nth-child(2):nth-last-child(2),
.vg-edit-actions LI:nth-child(3):nth-last-child(1) { max-width:33.3% }

.vg-edit-actions LI :nth-child(1):nth-last-child(4),
.vg-edit-actions LI :nth-child(2):nth-last-child(3),
.vg-edit-actions LI:nth-child(3):nth-last-child(2),
.vg-edit-actions LI:nth-child(4):nth-last-child(1) { max-width:25% }


.vg-edit-actions LI:last-child A { padding-right:10px !important; }

.vg-edit-actions A>.fa-stack { font-size:8px; }
.vg-edit-actions A>.fa-stack .fa-plus { color:#222; line-height:35px; z-index:2;  }


/* compact mode */

.vg-toolbar.compact .vg-edit-actions A {
	padding-right:0 !important;
	width:30px;
	height:30px;
	overflow:hidden;
}

/* end compact */
