<!--BeginSectHeaders-->
<!--EndSectHeaders-->
{outer_wrap_start}
<div id="{component_id}" class="{component_class}"> 
    <div id="{component_id}_hidden" class="hidden">
        <input type="hidden" id="{component_id}_rows" name="{component_id}_rows" value="{rows}" />
        <input type="hidden" id="{component_id}_delete_row" name="{component_id}_delete_row" value="" />
        <!--BeginSectHidden-->
        <input type="hidden" id="{component_id}_{hidden_name}" name="{component_id}_{hidden_name}" value="{hidden_value}" />
        <!--EndSectHidden-->
    </div>

    {inner_wrap_start}

    {fixed_pre_content}

        <!--BeginSectTitle-->
        <h3 class="{title_class}">{discl_bt}{title}</h3>
        <!--EndSectTitle-->
        {fixed_title_content}

	<!--BeginSectError-->
	<div class="{error_class}">{strError}</div>
	<!--EndSectError-->
        
        <!--BeginSectNewHeader-->
        <div class="{actions_top_class}">
            <!--BeginSectNewHeaderQta-->
            <input id="{component_id}_rowstoadd" name="{component_id}_rowstoadd" type="text" value="1" class="{rows_to_add_class}"/>
            <!--EndSectNewHeaderQta-->
            <a id="{component_id}_addrow_header" class="{addrow_class}" href="javascript:void(0);" onclick="{submit_action}">{addrow_icon}{addrow_label}</a>
        </div>
        <!--EndSectNewHeader-->
	{fixed_heading_content}
	{content_wrap_start}
	{form_tabs}
	<!--BeginSectForm-->
		<!--BeginSectFormRow-->
        {fixed_pre_row}
			<!--BeginSectFormTitle-->
			<h4>{group_title}{group_buttons}</h4>
			<!--EndSectFormTitle-->

			<!--BeginSectFormField-->
			<!--BeginSectWrapStart-->
			<div class="{wrap_class}">
			<!--EndSectWrapStart-->
			{field_container_start}
				{content_pre_label}
				<!--BeginSectGroupLabel-->
					{label_prefix}
					<label{label_class} for="{label_for}"{label_properties}>
						{content_in_label}
						{label}
					</label>
					<!--BeginSectDescriptionLabel-->
					<span class="description">{description}</span>
					<!--EndSectDescriptionLabel-->
					{label_postfix}
				<!--EndSectGroupLabel-->
				{content}
			{field_container_end}
			<!--BeginSectWrapEnd-->
			</div>
			<!--EndSectWrapEnd-->
			<!--EndSectFormField-->
        {fixed_post_row}
		<!--EndSectFormRow-->
	<!--EndSectForm-->
	{content_wrap_end}
    <!--BeginSectNewFooter-->
    <div class="{actions_bottom_class}">
        <!--BeginSectNewFooterQta-->
        <input id="{component_id}_rowstoadd" name="{component_id}_rowstoadd" type="text" value="1" class="{rows_to_add_class}"/>
        <!--EndSectNewFooterQta-->
        <a id="{component_id}_addrow_footer" class="{addrow_class}" href="javascript:void(0);" onclick="{submit_action}">{addrow_icon}{addrow_label}</a>
    </div>
    <!--EndSectNewFooter-->
	{fixed_post_content}
    {inner_wrap_end}
</div>
{outer_wrap_end}
<!--BeginSectFooters-->
<script type="text/javascript">
ff.pluginLoad("ff.ffDetails", "/themes/library/ff/ffDetails.js", function() {
	ff.ffDetails.init("{component_id}");
});
</script>
<!--EndSectFooters-->
