<!--BeginSectHeaders-->
<script type="text/javascript">
	ff.pluginLoad('ff.ffGrid', '/themes/library/ff/ffGrid.js'); 
</script>
<!--EndSectHeaders-->
{outer_wrap_start}
<div id="{component_id}" {component_properties}>
	<!--BeginSectHidden-->
	<div class="hidden">
		<!--BeginSectHiddenPageNavigator-->
		<input type="hidden" id="{component}{page_parname}" name="{component}{page_parname}" value="{page}" />
		<input type="hidden" id="{component}{records_per_page_parname}" name="{component}{records_per_page_parname}" value="{records_per_page}" />
		<input type="hidden" id="{component}{page_per_frame_parname}" name="{component}{page_per_frame_parname}" value="{page_per_frame}" />
		<!--EndSectHiddenPageNavigator-->
		<!--BeginSectHiddenOrder-->
		<input type="hidden" id="{component}order" name="{component}order" value="{actual_order}" />
		<input type="hidden" id="{component}direction" name="{component}direction" value="{actual_direction}" />
		<input type="hidden" id="{component}alpha" name="{component}alpha" value="{actual_alpha}" />
		<!--EndSectHiddenOrder-->
		<!--BeginSectHiddenField-->
		<input type="hidden" id="{component}{id}" name="{component}{id}" value="{value}" />
		<!--EndSectHiddenField-->
	</div>
	<!--EndSectHidden-->

	{inner_wrap_start}
    
	{fixed_pre_content}

		<!--BeginSectTitle-->
		<h2 class="{title_class}">{discl_bt}{title}</h2>
		<!--EndSectTitle-->
		{fixed_title_content}

		<div class="{actions_top_class}">
			<!--BeginSectActionButtonsHeader-->
			<!--BeginSectActionHeader-->
			{ActionButtonHeader}
			<!--EndSectActionHeader-->
			<!--EndSectActionButtonsHeader-->
			<!--BeginSectAddNew-->
			<!--BeginSectAddNewUrl-->
			<a href="{addnew_url}"{addnew_class}>{addnew_icon}{addnew_label}</a>
			<!--EndSectAddNewUrl-->
			<!--BeginSectAddNewBt-->
				{addnew_bt}
			<!--EndSectAddNewBt-->
			<!--EndSectAddNew-->
		</div>

	{fixed_heading_content}
	
    <!--BeginSectDescription-->
    <div class="{description_class}">{description}</div>
    <!--EndSectDescription-->

	<!--BeginSectGrid-->
    {content_wrap_start}
		<!--BeginSectError-->
		<div class="{error_class}">{strError}</div>
		<!--EndSectError-->

		<!--BeginSectSearch-->
		<div class="{search_class}">
			<div class="{search_box_class}">
		        {SearchAll}
				<!--BeginSectAdvSearch-->
				{search_more_container_class_start}
					<a class="{search_more_class}" href="javascript:void(0)" onclick="ff.ffGrid.advsearchToggle('{component_id}');">{search_more_label}</a>
				{search_more_container_class_end}
				<!--EndSectAdvSearch-->
				{SearchButtons}
			</div>
		    <!--BeginSectFields-->
			<div class="{adv_class}">
				<!--BeginSectSearchRow-->
				<div class="{adv_row_class}">
				<!--BeginSectSearchCol-->
				{control}
				<!--EndSectSearchCol-->
				</div>
				<!--EndSectSearchRow-->
				{search_fixed_after}
				{SearchButtonsAdv}
			</div>
			<!--EndSectFields-->
		</div>
		<!--EndSectSearch-->		
		<!--BeginSectFilters-->
		<div class="{filter_class}">
			<ul>
				<!--BeginSectFilter-->
				<li>
					<h3>{_ffGrid_filter_for}<strong>{Filter_title}</strong></h3>
					<ul>
						<!--BeginSectFilterRow-->
						<!--BeginSectFilterElement-->
						<li><a href="javascript:void(0);" onclick="{filter_action}">{FilterElement_label}</a></li>
						<!--EndSectFilterElement-->
						<!--BeginSectSelFilterElement-->
						<li class="selected">{FilterElement_label}</li>
						<!--EndSectSelFilterElement-->
						<!--EndSectFilterRow-->
						<!--BeginSectNoElements-->
						<li>{_ffGrid_no_record_found}</li>
						<!--EndSectNoElements-->
					</ul>
				</li>
				<!--EndSectFilter-->
			</ul>
		</div>
		<!--EndSectFilters-->
	    <!--BeginSectPaginatorTop-->
		<div class="{pagenavigator_top_class}">
			{PageNavigator}
		</div>
	    <!--EndSectPaginatorTop-->
		<table class="{table_class}">
			<!--BeginSectLabels-->
			<thead>
				<!--BeginSectAlpha-->						
				<tr><th colspan="{max_colspan}">
				<table class="alphanum">
					<thead>
					<tr>
						<th><a class="{alpha_selected_}" href="javascript:void(0);" onclick="{alpha_action}" rel="">{_all}</a></th>
                        <th><a class="{alpha_selected_cipher}" href="javascript:void(0);" onclick="{alpha_action}" rel="cipher" onclick="document.getElementById('frmAction').value='alpha'; document.getElementById('{component}alpha').value='cipher'; jQuery(this).closest('form').submit();">0-9</a></th>
						<th><a class="{alpha_selected_a}" href="javascript:void(0);" onclick="{alpha_action}" rel="a">a</a></th>
						<th><a class="{alpha_selected_b}" href="javascript:void(0);" onclick="{alpha_action}" rel="b">b</a></th>
						<th><a class="{alpha_selected_c}" href="javascript:void(0);" onclick="{alpha_action}" rel="c">c</a></th>
						<th><a class="{alpha_selected_d}" href="javascript:void(0);" onclick="{alpha_action}" rel="d">d</a></th>
						<th><a class="{alpha_selected_e}" href="javascript:void(0);" onclick="{alpha_action}" rel="e">e</a></th>
						<th><a class="{alpha_selected_f}" href="javascript:void(0);" onclick="{alpha_action}" rel="f">f</a></th>
						<th><a class="{alpha_selected_g}" href="javascript:void(0);" onclick="{alpha_action}" rel="g">g</a></th>
						<th><a class="{alpha_selected_h}" href="javascript:void(0);" onclick="{alpha_action}" rel="h">h</a></th>
						<th><a class="{alpha_selected_i}" href="javascript:void(0);" onclick="{alpha_action}" rel="i">i</a></th>
						<th><a class="{alpha_selected_j}" href="javascript:void(0);" onclick="{alpha_action}" rel="j">j</a></th>
						<th><a class="{alpha_selected_k}" href="javascript:void(0);" onclick="{alpha_action}" rel="k">k</a></th>
						<th><a class="{alpha_selected_l}" href="javascript:void(0);" onclick="{alpha_action}" rel="l">l</a></th>
						<th><a class="{alpha_selected_m}" href="javascript:void(0);" onclick="{alpha_action}" rel="m">m</a></th>
						<th><a class="{alpha_selected_n}" href="javascript:void(0);" onclick="{alpha_action}" rel="n">n</a></th>
						<th><a class="{alpha_selected_o}" href="javascript:void(0);" onclick="{alpha_action}" rel="o">o</a></th>
						<th><a class="{alpha_selected_p}" href="javascript:void(0);" onclick="{alpha_action}" rel="p">p</a></th>
						<th><a class="{alpha_selected_q}" href="javascript:void(0);" onclick="{alpha_action}" rel="q">q</a></th>
						<th><a class="{alpha_selected_r}" href="javascript:void(0);" onclick="{alpha_action}" rel="r">r</a></th>
						<th><a class="{alpha_selected_s}" href="javascript:void(0);" onclick="{alpha_action}" rel="s">s</a></th>
						<th><a class="{alpha_selected_t}" href="javascript:void(0);" onclick="{alpha_action}" rel="t">t</a></th>
						<th><a class="{alpha_selected_u}" href="javascript:void(0);" onclick="{alpha_action}" rel="u">u</a></th>
						<th><a class="{alpha_selected_v}" href="javascript:void(0);" onclick="{alpha_action}" rel="v">v</a></th>
						<th><a class="{alpha_selected_w}" href="javascript:void(0);" onclick="{alpha_action}" rel="w">w</a></th>
						<th><a class="{alpha_selected_x}" href="javascript:void(0);" onclick="{alpha_action}" rel="x">x</a></th>
						<th><a class="{alpha_selected_y}" href="javascript:void(0);" onclick="{alpha_action}" rel="y">y</a></th>
						<th><a class="{alpha_selected_z}" href="javascript:void(0);" onclick="{alpha_action}" rel="z">z</a></th>
					</tr>
					</thead>
				</table>
				</th></tr>
				<!--EndSectAlpha-->						
				<tr>
					<!--BeginSectColLabel-->
					<!--BeginSectColLabelStart-->
					<th {col_properties}>
					<!--EndSectColLabelStart-->
					<!--BeginSectGridLabel-->
					{Label}
					<!--EndSectGridLabel-->
					<!--BeginSectColLabelEnd-->
					</th>
					<!--EndSectColLabelEnd-->
					<!--EndSectColLabel-->
				</tr>
			</thead>
			<!--EndSectLabels-->
			<!--BeginSectGridData-->
			<tbody id="{component_id}_GridData">
				{fixed_body_content}
				<!--BeginSectRecord-->
				<tr {row_properties}>
				{row_init_start}
				<!--BeginSectRow-->
				{row_start}
					<!--BeginSectCol-->
					<!--BeginSectColStart-->
					<td {col_properties}><!--EndSectColStart--><!--BeginSectGridContent-->{Value}<!--EndSectGridContent--><!--BeginSectColEnd--></td>
					<!--EndSectColEnd-->
					<!--EndSectCol-->
				{row_end}
				<!--EndSectRow-->
				{row_init_end}
				</tr>
				<!--EndSectRecord-->
			</tbody>
			<!--EndSectGridData-->
		</table>
		<!--BeginSectPaginatorBottom-->
		<div class="{pagenavigator_bottom_class}">
			{PageNavigator}
		</div>
		<!--EndSectPaginatorBottom-->

		{fixed_post_content}

		<!--BeginSectActionButtons-->
		<div class="{actions_bottom_class}">
			<!--BeginSectAction-->
			{ActionButton}
			<!--EndSectAction-->
		</div>
		<!--EndSectActionButtons-->

    {content_wrap_end}

	<!--EndSectGrid-->
	<!--BeginSectNoRecords-->
	<div class="{norecord_class}">{grid_no_record}{fixed_post_content}</div>
	<!--EndSectNoRecords-->

	{inner_wrap_end}
</div>
{outer_wrap_end}
<!--BeginSectFooters-->
<!--EndSectFooters-->
