/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2-lug-2014, 17.59.25
    Author     : Giorgio (quello che non sa giocare a tennis!)
*/


.col-1{width: 8.33333%;}
.col-2{width: 16.66666%;}
.col-3{width: 25%;}
.col-4{width: 33.33333%;}
.col-5{width: 41.66666%;}
.col-6{width: 50%;}
.col-7{width: 58.33333%;}
.col-8{width: 66.66666%;}
.col-9{width: 75%;}
.col-10{width: 83.33333%;}
.col-11{width: 91.66666%;}
.col-12{width: 100%;}

.col{
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  float: left;
}