<!--BeginSectHeaders-->
<script type="text/javascript">
	ff.pluginLoad("ff.ajax", "/themes/library/ff/ajax.js", function() {
		ff.pluginLoad("ff.ffField",	"/themes/library/ff/ffField.js",	function() {
			ff.pluginLoad("ff.ffField.activecomboex", "{widget_path}/activecomboex.js", function () {
				ff.ffField.activecomboex.init({
					<!--BeginSectInnerUrl-->innerURL			: "{innerURL}",<!--EndSectInnerUrl-->
	                "icons"                   : {
	                    "caret"                 : "{icon_caret_down}"
	                    , "plus"                : '{icon_plus}'
	                    , "minus"               : '{icon_minus}'
	                    , "loader"				: '{icon_loader}'
	                }
				});
			});
		});
	});
</script>
<!--EndSectHeaders-->

<!--BeginSectControl-->
<div class="activecomboex-wrapper"> 
	<span id="activecomboex_{container}{id}" class="{data_class}" {data_properties}></span>
	<!--BeginSectDebug--><a href="#" onclick="window.open('{innerURL}&data_src={data_src}', '_blank')">[debug]</a><!--EndSectDebug-->
	<!--BeginSectEditable-->
	<span class="activecomboex-icon"><span style="display: none;" id="activecomboex_{container}{id}_dialogaddlink">{dialoglink}</span><span class="activecomboex-abs"><span style="display: none;" id="activecomboex_{container}{id}_dialogeditlink">{dialogeditlink}</span><span style="display: none;" id="activecomboex_{container}{id}_dialogdeletelink">{dialogdeletelink}</span></span></span> 
	<!--EndSectEditable-->
</div>
<!--EndSectControl-->

<!--BeginSectFooters-->
<script type="text/javascript">
	ff.pluginAddInit("ff.ffField.activecomboex", function () {
		<!--BeginSectBinding-->
		var tmp = ff.ffField.activecomboex.factory({
			"id"			: "{container}{id}"
			, "father"		: {father}
			, "childs"		: [
				<!--BeginSectChild-->
				{child}
				<!--EndSectChild-->
			]
			<!--BeginSectData-->
			, "data" : [
				<!--BeginSectDataEl-->
				{data_comma} [
					{father_value}
					, "{value}"
					, "{desc}"
				]
				<!--EndSectDataEl-->
			]
			<!--EndSectData-->
			, "selected_value" : {selected_value}
			, "options"		: {
				"name"					: "{name}"
				, "service"				: {service}
				, "properties"			: '{properties}'
				, "select_one"			: {select_one}
				, "select_one_val"		: "{select_one_val}"
				, "select_one_label"	: "{select_one_label}"
				, "select_noone"		: {select_noone}
				, "select_noone_val"	: "{select_noone_val}"
				, "select_noone_label"	: "{select_noone_label}"
				, "data_src"			: "{data_src}"
				, "class"				: "{class}"
				, "limit_select"		: {limit_select}
				, "disabled"			: {disabled}
				, "control_type"		: "{control_type}"
                , "separator"			: "{separator}"
                , "addPlus"				: {add_plus}
                , "hideEmpty"			: {hide_empty}
                , "use_cache"			: {use_cache}

                <!--BeginSezPlugin-->
                , "plugin" : {
					"name"		: "{plugin_name}",
					"path"		: "{plugin_path}",
					"css"		: "{plugin_css}",
					"js"		: "{plugin_js}",
					"params"	: {plugin_params}
                }
                <!--EndSezPlugin-->
			}
		});
		<!--BeginSectEventChange-->
		tmp.addEvent({
			"event_name"	: "change"
			, "func_name"		: {on_change}
		});
		<!--EndSectEventChange-->
		<!--BeginSectEventUpdateBt-->
		tmp.addEvent({
			"event_name"	: "updatebt"
			, "func_name"		: {on_update_bt}
		});
		<!--EndSectEventUpdateBt-->
		<!--BeginSectEventRefill-->
		tmp.addEvent({
			"event_name"	: "refill"
			, "func_name"		: {on_refill}
		});
		<!--EndSectEventRefill-->
		<!--EndSectBinding-->
		<!--BeginSectBindingFoot-->
		jQuery(function() {
			ff.ffField.activecomboex.refill("{container}{id}");
		});
		<!--EndSectBindingFoot-->
	});
</script>
<!--EndSectFooters-->
