<textarea class="{class}" id="{container}{id}" name="{container}{id}" {properties} >{value}</textarea>
<!--BeginSectAutoGrow-->
<script type="text/javascript">
ff.pluginLoad("jquery.fn.autogrow", "/themes/library/plugins/jquery.autogrow-textarea/jquery.autogrow-textarea.js", function() {
	var controlId = "{container}{id}";
    setTimeout(function() {
        jQuery("#" + controlId.escapeRegExp()).removeAttr("style");
        setTimeout(function() {
            jQuery("#" + controlId.escapeRegExp()).autogrow();
        }, 500);
    }, 300);
});
</script>
<!--EndSectAutoGrow-->