<!--BeginSectMenu-->
<ul class="mainmenu">
	<!--BeginSectElement-->
    <li class="{name}">
        <a href="{path}" {selected}>{label}</a>
        <!--BeginSectChild-->
        <ul class="{navbar_class}">
            <!--BeginSectChildElement-->
                <!--BeginSectChildLink-->
                <li class="{name}"><a href="{path}" {selected}>{label}</a></li>
                <!--EndSectChildLink-->
                <!--BeginSectChildHeading-->
                <!--<h3>{label}</h3>-->
                <!--EndSectChildHeading-->
            <!--EndSectChildElement-->
        </ul>
        <!--EndSectChild-->
    </li>
    <!--EndSectElement-->
</ul>
<!--EndSectMenu-->
