<div id="container">
	<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js" type="text/javascript"></script>
	<script>jQuery(function () {
    jQuery(".tabs A").click(function () {
        var idString = jQuery(this).attr("href");
        jQuery(".tabs-panel").hide();
        jQuery(idString).show();
    });
});</script>
	<div id="bar" class="headbar">
		<div class="rightbar">
			<div id="notifier">
				{notify}
			</div>

				{languages}
				<a href="#language-chooser" class="language-chooser-button"></a>

			{quickpanel}
		</div>
		{topbar}
		
		
	</div>
	<!-- menu -->

	<div id="menu-list" class="menu-list">
		{navbar}
		{rightcol}
	</div>
	
	<div id="helper-content" class="helper hidden">
		<h2>{_helper_title}</h2>
		<p>{helper}</p>
	</div>
	<!-- fine menu -->
			
	<div id="bo-content">	
		{content}
	</div>

</div>
