<!--BeginSezGalleryTitle-->
<h2>{name_title}</h2>
<!--EndSezGalleryTitle-->
<!--BeginSezGallerys-->
<!--BeginSezControls-->
	<div class="hidden">
	    <!--BeginSezSearchControl-->
	    <input name="search_param" type="hidden" value="{search_param}" />
	    <!--EndSezSearchControl-->
	    <!--BeginSezPageNavigatorControl-->
	    <input id="{unic_id_lower}_page" name="{unic_id_lower}_page" type="hidden" value="{page}" />
	    <input id="{unic_id_lower}_records_per_page" name="{unic_id_lower}_records_per_page" type="hidden" value="{rec_per_page}" />
	    <!--EndSezPageNavigatorControl-->
	</div>
<!--EndSezControls-->
<div class="gallery">
    <!--BeginSezSort-->
    <ul class="gallery_head">
            <li class="gallery_sort">
                <input type="hidden" id="frmGallerys{unic_id_lower}_sort" name="frmGallerys{unic_id_lower}_sort" value="{sort_value}" />
                <input type="hidden" id="frmGallerys{unic_id_lower}_sort_type" name="frmGallerys{unic_id_lower}_sort_type" value="{sort_type}" />
                <!--BeginSezSortTitle-->
                    <h3>{sort_type_title}</h3>
                <!--EndSezSortTitle-->
                <!--BeginSezSortItems-->
                    <span class="{sort_name}">
						<!--BeginSezSortItemsLink-->
	                    <a href="javascript:vgSort('{unic_id_lower}', '{sort_value_item}');">{sort_name_label}</a>
	                    <!--EndSezSortItemsLink-->
	                    <!--BeginSezSortItemsNoLink-->
	                    {sort_name_label}
	                    <!--EndSezSortItemsNoLink-->
                    </span>
                <!--EndSezSortItems-->
            </li>
       
    </ul>
    <!--EndSezSort-->
    <!--BeginSezPageNavigatorTop-->
    <div class="pagenavigator top"> {PageNavigator} </div>
    <!--EndSezPageNavigatorTop-->
        <!--BeginSezGalleryRow-->
        <!--BeginSezGallery-->
                <!--BeginSezGalleryEdit-->
                    <!--BeginSezAjax-->
                    <input class="{class_plugin}" type="hidden" value="{admin}" />
                    <!--EndSezAjax-->
                    <!--BeginSezNoAjax-->
                    {admin}
                    <!--EndSezNoAjax-->
                <!--EndSezGalleryEdit-->
                <!--BeginSezGalleryImage-->
                    <!--BeginSezGalleryImageViewLink-->
                    <a href="{show_file}" class="gallery_image {class_plugin {class_col}}" rel="{rel_plugin}" {target}{admin}><img src="{show_thumb}" alt="{alt_name}" title="{title_thumb}" /></a>
                    <!--EndSezGalleryImageViewLink-->
                    <!--BeginSezGalleryImageViewNoLink-->
                    <img src="{show_thumb}" class="gallery_image {class_plugin} {class_col}" alt="{alt_name}" title="{title_thumb}"{admin} />
                    <!--EndSezGalleryImageViewNoLink-->
                <!--EndSezGalleryImage-->
                <!--BeginSezGalleryWord-->
                <div class="gallery_description">
                    <!--BeginSezGalleryWordNameLink-->
                    <div class="name">
	                    <label class="gallery_label">{_gallery_name}</label>
	                    <a href="{show_file}" class="{class_plugin}" rel="{rel_plugin}" {target}>{name}</a>
                    </div>
                    <!--EndSezGalleryWordNameLink-->
                    <!--BeginSezGalleryWordName-->
                    <div class="name">
	                    <label class="gallery_label">{_gallery_name}</label>
	                    {name}
                    </div>
                    <!--EndSezGalleryWordName-->
                    <!--BeginSezGalleryWordDescription-->
                    <div class="description">
	                    <label class="gallery_label">{_gallery_description}</label>
	                    {description}
                    </div>
                    <!--EndSezGalleryWordDescription-->
                    <!--BeginSezGalleryWordType-->
                    <div class="type">
	                    <label class="gallery_label">{_gallery_type}</label>
	                    {type}
                    </div>
                    <!--EndSezGalleryWordType-->
                    <!--BeginSezGalleryWordSize-->
                    <div class="size">
	                    <label class="gallery_label">{_gallery_size}</label>
	                    {size}
                    </div>
                    <!--EndSezGalleryWordSize-->
                    <!--BeginSezGalleryWordPath-->
                    <div class="path">
	                    <label class="gallery_label">{_gallery_path}</label>
	                    {path}
                    </div>
                    <!--EndSezGalleryWordPath-->
                    <!--BeginSezGalleryWordDescriptionLanguage-->
                    <div class="descriptionlanguage">
	                    <label class="gallery_label">{_gallery_descriptionlanguage}</label>
	                    {descriptionlanguage}
                    </div>
                    <!--EndSezGalleryWordDescriptionLanguage-->
                    <!--BeginSezGalleryWordFileTime-->
                    <div class="filetime">
	                    <label class="gallery_label">{_gallery_filetime}</label>
	                    {filetime}
                    </div>
                    <!--EndSezGalleryWordFileTime-->
                    {ecommerce_cart}
                </div>
                <!--EndSezGalleryWord-->
        <!--EndSezGallery-->
        <!--EndSezGalleryRow-->
<!--BeginSezPageNavigatorBottom-->
<div class="pagenavigator bottom"> {PageNavigator} </div>
<!--EndSezPageNavigatorBottom-->
</div>
<!--EndSezGallerys-->
<!--BeginSezError-->
<p class="error">{strError}</p>
<!--EndSezError-->