<!--BeginSezMenu-->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!--BeginSezTitle-->
			<a class="navbar-brand" href="/"><h2 class="title">{title}</h2></a>
			<!--EndSezTitle-->
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
	
		<!--BeginSezHomeHeader-->
		<li {item_properties}>
            <!--BeginSezHomeImg-->
			<a{class_elem} href="{show_file}" <!--BeginSezTarget-->target="_blank"<!--EndSezTarget-->{menu_properties}><img src="{site_path}/cm/showfiles.php/responsive/images/spacer.gif" alt="{home}" /></a>
            <!--EndSezHomeImg-->
            <!--BeginSezHomeNoImg-->
			<a{class_elem} href="{show_file}" <!--BeginSezTarget-->target="_blank"<!--EndSezTarget-->{menu_properties}>{home}</a>
            <!--EndSezHomeNoImg-->
            <!--BeginSezHomeHeaderParent-->
            <ul class="child">
            <!--EndSezHomeHeaderParent-->
			<!--BeginSezHomeHeaderNoParent-->
				{child}

			<!--EndSezHomeHeaderNoParent-->
			<!--BeginSezHomeFooter-->
			</ul>
		<!--EndSezHomeFooter-->
		</li>
		
	<!--EndSezHomeHeader-->
    <!--BeginSezItem-->
	
        <li {item_properties}>
            <!--BeginSezItemImg-->
                <!--BeginSezItemImgHere-->
                    <a{class_elem} href="{show_file}" <!--BeginSezAjaxChild-->rel="{ajax_child}"<!--EndSezAjaxChild--> <!--BeginSezTarget-->target="_blank"<!--EndSezTarget-->{menu_properties}><img src="{site_path}/cm/showfiles.php/responsive/images/spacer.gif" alt="{item}" /></a> 
                <!--EndSezItemImgHere-->
                <!--BeginSezItemImgNoHere-->
                    <a{class_elem} href="{show_file}" <!--BeginSezAjaxChild-->rel="{ajax_child}"<!--EndSezAjaxChild--> <!--BeginSezTarget-->target="_blank"<!--EndSezTarget-->{menu_properties}><img src="{site_path}/cm/showfiles.php/responsive/images/spacer.gif" alt="{item}" /></a>
                <!--EndSezItemImgNoHere-->
                <!--BeginSezItemImgNoLink-->
                    <img src="{site_path}/cm/showfiles.php/responsive/images/spacer.gif" alt="{item}" />
                <!--EndSezItemImgNoLink-->
            <!--EndSezItemImg-->
            <!--BeginSezItemNoImg-->
                <!--BeginSezItemNoImgHere-->
                    <a{class_elem} href="{show_file}" <!--BeginSezAjaxChild-->rel="{ajax_child}"<!--EndSezAjaxChild--> <!--BeginSezTarget-->target="_blank"<!--EndSezTarget-->{menu_properties}>{item}</a><!--BeginSezCaret--><a href="javascript:void(0);" class="{caret_class}" data-toggle="dropdown"></a><!--EndSezCaret-->
                <!--EndSezItemNoImgHere-->
                <!--BeginSezItemNoImgNoHere--> 
                    <a{class_elem} href="{show_file}" <!--BeginSezAjaxChild-->rel="{ajax_child}"<!--EndSezAjaxChild--> <!--BeginSezTarget-->target="_blank"<!--EndSezTarget-->{menu_properties}>{item}</a><!--BeginSezCaret--><a href="javascript:void(0);" class="{caret_class}" data-toggle="dropdown"></a><!--EndSezCaret-->
                <!--EndSezItemNoImgNoHere-->
                <!--BeginSezItemNoImgNoLink-->
                    <span class="no-link">{item}</span>  
                <!--EndSezItemNoImgNoLink-->
            <!--EndSezItemNoImg-->
            <!--BeginSezItemDescription-->
                <div class="desc">{description}</div>
            <!--EndSezItemDescription-->
            {child}
        </li>
    <!--EndSezItem-->
	</ul>
	
		</div>
	
	
    


<!--EndSezMenu-->
<!--BeginSezError-->
    <p class="error">{strError}</p>
<!--EndSezError-->
